/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* set the color variables */
:root {
    --avocado:#606c38;
    --forest:#283618;
    --brown: #ca6702;
    --darkblue: #0d1b2a;
    --medblue:#005f73;
    --lightblue:#94d2bd;
    --cement:#e9d8a6;
}


body {
    background-color: var(--darkblue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cement);
    text-align: center;
    font-size: 2.5rem;
    font-family: "Chakra Petch", sans-serif;
}
.container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    /* border: solid red; */
}


button {
    background-color: var(--brown);
    width: 10rem;
    height: 3rem;
    color: var(--cement);
    font-size: large;
    font-weight: 900;
    font-family: "Chakra Petch", sans-serif;
    border: solid var(--medblue) 0.4rem;
    border-radius: 20px;

}

button:hover {
    border: solid var(--lightblue) 0.4rem;
}

.scores, 
.displaychoices {
    display: flex;
    /* border: salmon solid; */
    width: 50rem;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
}

.scoreBox, 
.choicebox {
    border: solid var(--medblue);
    min-width: 20rem;

}


.options {
    display: flex;
    justify-content: space-evenly;
    /* border: solid blue; */
    gap: 3rem;
    
}

img {
    width: 25rem;
    height: 25rem; 
    border-radius: 600px;

}

img:hover {
    border: solid 10px var(--medblue);
}



@media (max-width:1100px) {
    body {
        font-size: 1.2rem;
    }
    .options {
        flex-direction: column;
    }
    .scores ,
    .displaychoices{
        flex-direction: column;
        gap: 1rem;
    }
    img {
        width: 10rem;
        height: 10rem; 
        border-radius: 600px;
    }
    img:hover {
        border: solid 5px var(--medblue);
    }
    .scoreBox, 
    .choicebox {
    border: none;


}
}
